////////////////////////////////////////////////////////////////////////////////
//
//   COLOR // Palettes
//
////////////////////////////////////////////////////////////////////////////////
//
//   Grey
//
$grey: (
  grey00: #ffffff,
  grey01: #f8f9fa,
  grey02: #f1f3f5,
  grey03: #e9ecef,
  grey04: #dee2e6,
  grey05: #ced4da,
  grey06: #adb5bd,
  grey07: #868e96,
  grey08: #495057,
  grey09: #343a40,
  grey10: #212529
);
//
//   Grape
//
$grape: (
  grape00: #f8f0fc,
  grape01: #f3d9fa,
  grape02: #eebefa,
  grape03: #e599f7,
  grape04: #da77f2,
  grape05: #cc5de8,
  grape06: #be4bdb,
  grape07: #ae3ec9,
  grape08: #9c36b5,
  grape09: #862e9c,
);

//
//  Palette
//
$color-palettes: (
  grey: $grey,
  grape: $grape
);
