//
//   Build the many path to import a local font
//
//   @param {string} $font-family - The font family
//   @param {string} $path - The path to the file to import minus the extension.
//   @return {list} - Return the list with all the proper import.
//
@function font-local-path($font-family, $path)
{
  $src: ();

  $formats-map: (
    eot:   "#{$path}.#{$font-format-eot}?#iefix" format("embedded-opentype"),
    woff2: "#{$path}.#{$font-format-woff2}" format("woff2"),
    woff:  "#{$path}.#{$font-format-woff}" format("woff"),
    ttf:   "#{$path}.#{$font-format-ttf}" format("truetype"),
    svg:   "#{$path}.#{$font-format-svg}##{$font-family}" format("svg")
  );

  @each $key, $values in $formats-map
  {
    $file-path: nth($values, 1);
    $font-format: nth($values, 2);

    $src: append($src, url($file-path) $font-format, comma);
  }

  @return $src;
}

//
//  Return the font set to import a self-hosted font
//
//  @param {string} font-family
//  @param {string} path
//  @param {string} filename
//  @param {map} $formats
//  @return {list}
//
@function font($font-family, $path, $filename, $formats: $salt-typography-font-formats)
{
  $src: ();

  @each $format in $salt-typography-font-formats
  {
    $extension: map-get($format, extension);
    $type: map-get($format, type);
    $post: map-get($format, post);

    $u: $path + '/' + $filename + "." + $extension + $post
    $f: format("embedded-opentype");

    $src: append($src, url($u) $f, comma);
  }

  @return $src;
}
