//
//   Line-Height
//   Generate a responsive constraint line-height
//
//   @param {Length} $line-height-min
//   @param {Length} $line-height-max
//   @return {CSSExpression}
//
@function line-height($line-height-min, $line-height-max)
{
  $unit: 1rem;
  $breakpoint-min: grid-parse('xxs');
  $breakpoint-max: grid-parse('xxl');

  @return calc(#{strip-unit($line-height-min)} + (#{strip-unit($line-height-max)} - #{strip-unit($line-height-min)}) * (100vw - #{$breakpoint-min}) / (#{strip-unit($breakpoint-max)} - #{strip-unit($breakpoint-min)}));
}
