//////////////////////////////////////////////////////////////////////////////
//
//   # Grid
//
//////////////////////////////////////////////////////////////////////////////
//
//   ## Grid parser
//
.grid-m
{
  width: grid-parse('=m');
}

.grid-more-m
{
  width: grid-parse('>m');
}

.grid-less-m
{
  width: grid-parse('<m');
}
