@include test-module('Utilities')
{


  // Testing Functions
  @include test('Map Add [function]')
  {
    $base: (1, 1, 1);

    $test: map-sum($base);
    $expect: 3;
    // @include assert-equal($test, $expect, 'Returns the sum of all entries in a list');
  }

  // Testing Mixins
  @include test('Text Align [mixin]') {
    @include assert('Outputs the text-align based on keyword.') {
      @include output {
        @include text-align(left);
      }

      @include expect {
        text-align: left;
      }
    }
  }
}
