//
//   Get dimension of an expression, based on a found operator
//
//   @param {String} $expression - Expression to extract dimension from
//   @param {String} $operator - Operator from `$expression`
//   @return {String} - `width` or `height` (or potentially anything else)
//   @access private
//
@function grid-breakpoint-dimension($expression, $operator) {
  $dimension: "width";
  $parsed-dimension: null;

  // @debug 'expression: #{$expression}';
  // @debug 'operator: #{$operator}';

  @if str-length($expression) > 0 and $operator != null {
    $operator-index: str-index($expression, $operator);
    $parsed-dimension: str-slice($expression, 0, $operator-index - 1);
  }

  @if $parsed-dimension != null and str-length($parsed-dimension) > 0 {
    $dimension: $parsed-dimension;
  }

  @return $dimension;
}
