////////////////////////////////////////////////////
//
//   Allowed values for color
//
////////////////////////////////////////////////////

$color-transparent: transparent;
$color-none: none;

$color: (
  $color-transparent,
  $color-none
);
