////////////////////////////////////////////////////
//
//   Allowed values for text-align
//
////////////////////////////////////////////////////
$text-align-left:      "left";
$text-align-center:    "center";
$text-align-right:     "right";
$text-align-justify:   "justify";

$text-align:          (
                        $text-align-left,
                        $text-align-center,
                        $text-align-right,
                        $text-align-justify
                      );
