////////////////////////////////////////////////////
//
//   Media Expressions
//
////////////////////////////////////////////////////

$screen: "screen";
$print: "print";
$handheld: "handheld";
$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";
$retina2x: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)";
$retina3x: "(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)";

$grid-media: (
  screen: $screen,
  print: $print,
  handheld: $handheld,
  landscape: $landscape,
  portrait: $portrait,
  retina2x: $retina2x,
  retina3x: $retina3x
);
