@use "sass:list";

//
// Generate the utility classname
// {domain}<separator>[{property}<separator>]{token}
//
// @param $domain String
// @param $token String
// @param $property String
//
@function helper-classname($domain, $token, $property: null){
  $prefix: _prefix();

  $parts: ($domain);
  @if $property {
    $parts: list.append($parts, $property);
  }
  $parts: list.append($parts, $token);

  @return #{$prefix}#{list-join($parts, '-')};
}
