////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings';
@use 'commons';

@mixin animation-duration($name, $init: false){
  $collection: settings.$animations-durations;
  $domains: settings.$animations-domains;
  $helpers: (animation, duration);

  @include commons.salt-helper(animation-duration, $collection, $name, $domains, $helpers, $init);
}

@mixin transition-duration($name, $init: false) {
  $collection: settings.$animations-durations;
  $domains: settings.$animations-domains;
  $helpers: (transition, duration);

  @include commons.salt-helper(transition-duration, $collection, $name, $domains, $helpers, $init);
}
