////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings' as settings;
@import '../../utils/helpers';

@mixin animation-duration($name, $init: false){
  $collection: settings.$durations;
  $domains: settings.$domains;
  $helpers: (animation, duration);

  @include salt-helper(animation-duration, $collection, $name, $domains, $helpers, $init);
}

@mixin transition-duration($name, $init: false) {
  $collection: settings.$durations;
  $domains: settings.$domains;
  $helpers: (transition, duration);

  @include salt-helper(transition-duration, $collection, $name, $domains, $helpers, $init);
}
