////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings';
@use 'commons';

@mixin animation-timing-function($name, $init: false) {
  $collection: settings.$easings;
  $domains: settings.$domains;
  $helpers: (animation, easing);

  @include common.salt-helper(animation-timing-function, $collection, $name, $domains, $helpers, $init);
}

@mixin transition-timing-function($name, $init: false) {
  $collection: setings.$easings;
  $domains: settings.$domains;
  $helpers: (transition, easing);

  @include common.salt-helper(transition-timing-function, $collection, $name, $domains, $helpers, $init);
}
