@import "../../src/salt";

//////////////////////////////////////////////////////////////////////////////
//
//   # Grid
//
//////////////////////////////////////////////////////////////////////////////
//
//   ## Grid parser // operator
//
.grid-operators
{
  equal: grid-parse-operator('=m');
  more: grid-parse-operator('>m');
  more-or-equal: grid-parse-operator('>=m');
  less: grid-parse-operator('<m');
  less-or-equal: grid-parse-operator('<=m');
  unknown: grid-parse-operator('<>m');
  no-expression: grid-parse-operator('>');
  no-operator: grid-parse-operator('m');
}

//////////////////////////////////////////////////////////////////////////////
//
//   ## Grid parser
//
.grid-parse
{
  equal: grid-parse('=m');
  more: grid-parse('>m');
  more-or-equal: grid-parse('>=m');
  less: grid-parse('<m');
  less-or-equal: grid-parse('<=m');
  unknown: grid-parse('<>m');
  no-expression: grid-parse('>');
  no-operator: grid-parse('m');
}
