////////////////////////////////////////////////////
//
//   Typography :: color
// 
//     The color property sets the foreground color of an element's text
//     content, and its decorations. It also sets the <currentcolor> value
//     which may be used as an indirect value on other properties, and is the
//     default for other color properties, such as border-color.
//
////////////////////////////////////////////////////

//
//   Color domain
//
$color-domain:       'c';

//
//   Allowed values for color property
//
$color-transparent:  transparent;
$color-none:         none;

$color: (
  $color-transparent,
  $color-none
);
