////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // Font Providers
//
////////////////////////////////////////////////////////////////////////////////
$salt-typography-font-providers: (
  google: (
    domain: 'google',
    description: 'Google Fonts'
  ),
  typekit: (
    domain: 'typekit',
    description: 'Adobe Typekit'
  )
) !default;
