////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // Font formats
//
////////////////////////////////////////////////////////////////////////////////
$salt-typography-font-formats: (
  eot: (
    extension: 'eot',
    type: 'embedded-opentype',
    post: '?#iefiex'
  ),
  woff: (
    extension: 'woff',
    type: 'woff'
  ),
  woff2: (
    extension: 'woff2',
    type: 'woff2'
  ),
  ttf: (
    extension: 'ttf',
    type: 'truetype'
  ),
  svg: (
    extension: 'svg',
    type: 'svg'
  )
) !default;
