////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // Font-Weight
//
////////////////////////////////////////////////////////////////////////////////
$salt-typography-font-weights: (
  thin: (
    weight: 100
  ),
  ultra-light: (
    weight: 200
  ),
  light: (
    weight: 300
  ),
  normal: (
    weight: 400
  ),
  semi-bold: (
    weight: 500
  ),
  bold: (
    weight: 600
  ),
  extra-bold: (
    weight: 700
  ),
  black: (
    weight: 800
  )
) !default;
