////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // letter-spacing
//
////////////////////////////////////////////////////////////////////////////////
$salt-letter-spacing: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'ls',

  //
  //   Property
  //
  property:                'letter-spacing',

  //
  //   Values
  //
  values: (
    normal:                normal
  )
) !default;
