////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // line-height
//
////////////////////////////////////////////////////////////////////////////////
$salt-line-height: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'lh',

  //
  //   Property
  //
  property:                'line-height',

  //
  //   Values
  //
  values: (
    normal:                normal
  )
) !default;
