////////////////////////////////////////////////////////////////////////////////
//
//   Typograhy :: text-align
//
////////////////////////////////////////////////////////////////////////////////
//
//   Domain
//
$text-align-domain:    'ta';
//
//   Allowed values
//
$text-align-center:    center;
$text-align-justify:   justify;
$text-align-left:      left;
$text-align-right:     right;
//
//   Map
//
$text-align: (
  #{$text-align-domain+ "-" +$text-align-center}: $text-align-center,
  #{$text-align-domain+ "-" +$text-align-justify}: $text-align-justify,
  #{$text-align-domain+ "-" +$text-align-left}: $text-align-left,
  #{$text-align-domain+ "-" +$text-align-right}: $text-align-right
);
