////////////////////////////////////////////////////
//
//   Typography :: text-decoration
//
////////////////////////////////////////////////////
$salt-text-decoration: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'td',

  //
  //   Property
  //
  property:                'text-decoration',

  //
  //   Values
  //
  values: (
    none:                  none,
    justify:               justify,
    line-through:          line-through,
    underline:             underline
  )
) !default;
