////////////////////////////////////////////////////////////////////////////////
//
//   Typograhy :: text-indent
//
////////////////////////////////////////////////////////////////////////////////
$salt-text-indent: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'ti',

  //
  //   Property
  //
  property:                'text-indent',

  //
  //   Values
  //
  values: (
  )
) !default;
