////////////////////////////////////////////////////////////////////////////////
//
//   Typograhy :: text-align
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
$text-align: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'ta',

  //
  //   Property
  //
  property:                'text-align',

  //
  //   Values
  //
  values: (
    center:                center,
    justify:               justify,
    left:                  left,
    right:                 right
  )
) !default;
