////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAHY // word-break
//
////////////////////////////////////////////////////////////////////////////////
$salt-word-break: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'wb',

  //
  //   Property
  //
  property:                'word-break',

  //
  //   Values
  //
  values: (
    normal:                normal,
    break-all:             break-all,
    keep-all:              keep-all
  )
) !default;
