////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // text-transform
//
////////////////////////////////////////////////////////////////////////////////
$salt-text-transform: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'tt',

  //
  //   Property
  //
  property:                'text-transform',

  //
  //   Values
  //
  values: (
    none:                 none,
    uppercase:            uppercase,
    lowercase:            lowercase,
    capitalize:           capitalize
  )
) !default;
