////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$ui-sizings: (
  content: content-box,
  border: border-box
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin box-sizing($name, $init: false) {
  $value: map-get($ui-sizings, $name);

  @if $g-in-media or $init {
    box-sizing: $value;
  } @else {
    @extend #{$helper-prefix}ui-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $ui-sizings {
  #{$helper-prefix}ui-#{"" + $name} {
    @include box-sizing($name, true);
  }
}
