////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$ui-cursors: (
  pointer: pointer,
  help: help,
  progress: progress,
  move: move,
  zoom-in: zoom-in,
  zoom-out: zoom-out
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin cursor($name, $init: false) {
  $value: map-get($ui-cursors, $name);

  @if $g-in-media or $init {
    cursor: $value;
  } @else {
    @extend #{$helper-prefix}ui-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $ui-cursors {
  #{$helper-prefix}ui-#{"" + $name} {
    @include cursor($name, true);
  }
}
