////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$ui-events: (
  disabled: none
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin pointer-events($name, $init: false) {
  $value: map-get($ui-events, $name);

  @if $g-in-media or $init {
    pointer-events: $value;
  } @else {
    @extend #{$helper-prefix}ui-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $ui-events {
  #{$helper-prefix}ui-#{"" + $name} {
    @include pointer-events($name, true);
  }
}
