////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$ui-selects: (
  no-select: none
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin user-select($name, $init: false) {
  $value: map-get($ui-selects, $name);

  @if $boxmodels-in-breakpoint or $init {
    user-select: $value;
  } @else {
    @extend #{$helper-prefix}ui-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $ui-selects {
  #{$helper-prefix}ui-#{"" + $name} {
    @include user-select($name, true);
  }
}
