//
//   Typography - Line Height
//
////////////////////////////////////////////////////////////////////////////////
//
//   Global value
//
////////////////////////////////////////////////////////////////////////////////
//
$line-height: null;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
////////////////////////////////////////////////////////////////////////////////
//
$salt-line-height: (
  //
  //   Responsive ?
  //
  is-responsive:           false,

  //
  //   Domain
  //
  domain:                  'lh',

  //
  //   Property
  //
  property:                'line-height',

  //
  //   Values
  //
  values: (
    normal:                normal
  )
) !default;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Commit properties
//   (Re-)generate the property definition based on the dynamic values
//   (settings).
//
//   @return {Map} Return the new property defition.
//
////////////////////////////////////////////////////////////////////////////////
//
@function line-height-commit-properties()
{
  $list: ();
  $values: map-get($salt-line-height, values);

  @each $font in $salt-typography-fonts
  {
    $name: map-get($font, family);
    @if map-has-key($font, name)
    {
      $name: map-get($font, name);
    }

    // list through predefined values
    // list through dynamic values
    $values: map-merge($values, map-get($font, sizes));
    @each $cvalue, $value in $values
    {
      $key: $name + '-' + $cvalue;
      $list: map-set($list, $key, $value);
    }
  }

  $values: (
    values: map-merge($list, map-get($salt-line-height, values))
  );
  $line-height: map-merge($salt-line-height, $values) !global;

  @return $line-height;
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Template
//   Template used to output the value
//
//   @param {length} $min
//   @param {length} $max
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin line-height-template($min, $max)
{
  line-height: line-height($min, $max);
  @include media('<xxs')
  {
    line-height: $min;
  }
  @include media('>xxl')
  {
    line-height: $max;
  }
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Helper generator
//   Generate the property helper
//
////////////////////////////////////////////////////////////////////////////////
@mixin line-height-helper-generator()
{
  @if $line-height == null
  {
    $p: call(line-height-commit-properties);
  }

  @each $key, $value in map-get($line-height, values)
  {
    $prefix: helper-prefix();
    $domain: $prefix + map-get($line-height, domain);
    $responsive: map-get($line-height, is-responsive);
    $property: map-get($line-height, property);

    @if length($value) == 2
    {
      $min: nth($value, 1);
      $max: nth($value, 2);

      #{$domain + '-' + $key}
      {
        @include line-height-template($min, $max);
      }
    }
    @else
    {
      #{$domain + '-' + $key}
      {
        #{$property}: #{$value};
      }
    }

    @if $responsive
    {
      $breakpoints: map-keys($grid-breakpoints);
      @each $breakpoint in $breakpoints
      {
        @include media('>'+$breakpoint)
        {
          #{$domain + "-" + $breakpoint + '-' + $key}
          {
            // @TODO: Is it correct to output the size this way ? When in size xxs just set the size as it ? Constrained to the size of the breakpoint and up ?
            #{$property}: line-height($min, $max);
          }
        }
      }
    }
  }
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Mixin
//
//   @param {String} $value
//   @param {String} $breakpoint
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include line-height(normal);     => line-height: normal;
//     @include line-height(xxs);        => line-height: <xxs>;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/line-height
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin line-height($value, $breakpoint: null)
{
  @if $line-height == null
  {
    $p: call(line-height-commit-properties);
  }
  @include helper-factory-mixin($line-height, $value, $breakpoint);
}
