//
//   Typography - Word Break
//
////////////////////////////////////////////////////////////////////////////////
//
//   Global value
//
////////////////////////////////////////////////////////////////////////////////
//
$word-break: null;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
////////////////////////////////////////////////////////////////////////////////
//
$salt-word-break: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'wb',

  //
  //   Property
  //
  property:                'word-break',

  //
  //   Values
  //
  values: (
    normal:                normal,
    break-all:             break-all,
    keep-all:              keep-all
  )
) !default;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Commit properties
//   (Re-)generate the property definition based on the dynamic values
//   (settings).
//
//   @return {Map} Return the new property defition.
//
////////////////////////////////////////////////////////////////////////////////
//
@function word-break-commit-properties()
{
  $word-break: $salt-word-break !global;
  @return $word-break;
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Helper generator
//   Generate the property helper
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin word-break-helper-generator()
{
  @if $word-break == null
  {
    $p: call(word-break-commit-properties);
  }
  @include helper-factory-iterator($word-break);
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Mixin
//
//   @param {String} $value
//   @param {String} $breakpoint
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include word-break(normal);       => word-break: normal;
//     @include word-break(break-all);    => word-break: break-all;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/word-break
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin word-break($value, $breakpoint: null)
{
  @if $word-break == null
  {
    $p: call(word-break-commit-properties);
  }
  @include helper-factory-mixin($salt-word-break, $value, $breakpoint);
}
