@mixin grid-breakpoint-test
{
  @include test-module('Grid Breakpoint // Breakpoint')
  {
      //////////////////////////////////////////////////////////////////////////////
      //
      //
      //
      //////////////////////////////////////////////////////////////////////////////
      @include test('grid-breakpoint {>m}')
      {
        $expression: '>m';
        $test: grid-breakpoint($expression);
        $expect: "(min-width: 48.01rem)";

        @include assert-equal($test, $expect, '=m');
      }

      //////////////////////////////////////////////////////////////////////////////
      //
      //
      //
      //////////////////////////////////////////////////////////////////////////////
      @include test('grid-breakpoint {<xl}')
      {
        $expression: '<xl';
        $test: grid-breakpoint($expression);
        $expect: "(max-width: 74.99rem)";

        @include assert-equal($test, $expect, '<xl');
      }

      //////////////////////////////////////////////////////////////////////////////
      //
      //
      //
      //////////////////////////////////////////////////////////////////////////////
      // @include test('grid-breakpoint {retina2x}')
      // {
      //   $expression: 'retina2x';
      //   $test: grid-breakpoint($expression);
      //   $expect: "(min-width: 48.01rem)";
      //
      //   @include assert-equal($test, $expect, 'retina2x');
      // }
  }
}
