@mixin grid-parse-operator-test
{
  @include test-module('Grid Parse // Operator')
  {
    //////////////////////////////////////////////////////////////////////////////
    //
    //  = M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse-oparator {=m}')
    {
      $test: grid-parse-operator('=m');
      $expect: '=';

      @include assert-equal($test, $expect, '=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  >M || >= M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse-oparator {>m}')
    {
      $test: grid-parse-operator('>m');
      $expect: '>';

      @include assert-equal($test, $expect, '>m');
    }

    @include test('grid-parse-oparator {>=m}')
    {
      $test: grid-parse-operator('>=m');
      $expect: '>=';

      @include assert-equal($test, $expect, '>=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  <M || <= M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse-oparator {<m}')
    {
      $test: grid-parse-operator('<m');
      $expect: '<';

      @include assert-equal($test, $expect, '<m');
    }

    @include test('grid-parse-oparator {<=m}')
    {
      $test: grid-parse-operator('<=m');
      $expect: '<=';

      @include assert-equal($test, $expect, '<=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  Error
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse-oparator {m}')
    {
      $test: grid-parse-operator('m');
      $expect: null;

      @include assert-equal($test, $expect, 'm');
    }

    @include test('grid-parse-oparator {<>m}')
    {
      $test: grid-parse-operator('<>m');
      $expect: null;

      @include assert-equal($test, $expect, '<>m');
    }

    @include test('grid-parse-oparator {!=m}')
    {
      $test: grid-parse-operator('!=m');
      $expect: null;

      @include assert-equal($test, $expect, '!=m');
    }

    @include test('grid-parse-oparator {null}')
    {
      $test: grid-parse-operator('');
      $expect: null;

      @include assert-equal($test, $expect, '!=m');
    }
  }
}
