@mixin grid-parse-test
{
  @include test-module('Grid Parse')
  {
    //////////////////////////////////////////////////////////////////////////////
    //
    //  M || = M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse {m}')
    {
      $test: grid-parse('m');
      $expect: 48rem;

      @include assert-equal($test, $expect, 'm');
    }

    @include test('grid-parse {=m}')
    {
      $test: grid-parse('=m');
      $expect: 48rem;

      @include assert-equal($test, $expect, '=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  >M || >= M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse {>m}')
    {
      $test: grid-parse('>m');
      $expect: 48.01rem;

      @include assert-equal($test, $expect, '>m');
    }

    @include test('grid-parse {>=m}')
    {
      $test: grid-parse('>=m');
      $expect: 48rem;

      @include assert-equal($test, $expect, '>=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  <M || <= M
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse {<m}')
    {
      $test: grid-parse('<m');
      $expect: 47.99rem;

      @include assert-equal($test, $expect, '<m');
    }

    @include test('grid-parse {<=m}')
    {
      $test: grid-parse('<=m');
      $expect: 48rem;

      @include assert-equal($test, $expect, '<=m');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  Error
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-parse {<>m}')
    {
      $test: grid-parse('<>m');
      $expect: null;

      @include assert-equal($test, $expect, '<>m');
    }

    @include test('grid-parse {!=m}')
    {
      $test: grid-parse('!=m');
      $expect: null;

      @include assert-equal($test, $expect, '!=m');
    }

    @include test('grid-parse {empty}')
    {
      $test: grid-parse('');
      $expect: null;

      @include assert-equal($test, $expect, '!=m');
    }

    @include test('grid-parse {unknown-1}')
    {
      $test: grid-parse('>');
      $expect: null;

      @include assert-equal($test, $expect, '>');
    }

    @include test('grid-parse {unknown-2}')
    {
      $test: grid-parse('>p');
      $expect: null;

      @include assert-equal($test, $expect, '>p');
    }

    @include test('grid-parse {unknown-3}')
    {
      $test: grid-parse('>po');
      $expect: null;

      @include assert-equal($test, $expect, '>po');
    }

    @include test('grid-parse {unknown-4}')
    {
      $test: grid-parse('>pol');
      $expect: null;

      @include assert-equal($test, $expect, '>pol');
    }
  }
}
