@mixin grid-breakpoint-prefix-test
{
  @include test-module('Grid Breakpoint // Prefix')
  {
    //////////////////////////////////////////////////////////////////////////////
    //
    //  =
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-breakpoint-prefix {=}')
    {
      $test: grid-breakpoint-prefix('=');
      $expect: 'min';

      @include assert-equal($test, $expect, '=');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  > || >=
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-breakpoint-prefix {>}')
    {
      $test: grid-breakpoint-prefix('>');
      $expect: 'min';

      @include assert-equal($test, $expect, '>');
    }

    @include test('grid-breakpoint-prefix {>=}')
    {
      $test: grid-breakpoint-prefix('>=');
      $expect: 'min';

      @include assert-equal($test, $expect, '>=');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  < || <=
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-breakpoint-prefix {<}')
    {
      $test: grid-breakpoint-prefix('<');
      $expect: 'max';

      @include assert-equal($test, $expect, '<');
    }

    @include test('grid-breakpoint-prefix {<=}')
    {
      $test: grid-breakpoint-prefix('<=');
      $expect: 'max';

      @include assert-equal($test, $expect, '<=');
    }

    //////////////////////////////////////////////////////////////////////////////
    //
    //  Error
    //
    //////////////////////////////////////////////////////////////////////////////
    @include test('grid-breakpoint-prefix {null}')
    {
      $test: grid-breakpoint-prefix(null);
      $expect: null;

      @include assert-equal($test, $expect, '<');
    }

    @include test('grid-breakpoint-prefix {empty}')
    {
      $test: grid-breakpoint-prefix('');
      $expect: null;

      @include assert-equal($test, $expect, '<=');
    }

    @include test('grid-breakpoint-prefix {unknow}')
    {
      $test: grid-breakpoint-prefix('aa');
      $expect: null;

      @include assert-equal($test, $expect, '<=');
    }
  }
}
