//
//   Typography - Text Align
//   The text-align CSS property describes how inline content like text is aligned in its parent block element. text-align does not control the alignment of block elements, only their inline content.
//
//   @param {String} $value
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include text-align(center);   => text-align: center;
//     @include text-align('center'); => text-align: center;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/text-align
//
@mixin text-align($value)
{
  @if index($text-align, $value) != null
  {
    text-align: unquote($value);
  }
  @else
  {
    @warn "#{$value} is not accepted by the text-align property";
  }
}

//
//   Typography - text-align helper class
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-helper
//
@mixin text-align-helper
{
  $domain: 'ta';
  $prefix: helper-prefix();

  @if $prefix != null
  {
    @each $value in $text-align
    {
      $class-name: $prefix + $domain + '-' + $value;
      #{$class-name}
      {
        @include text-align($value);
      }
    }
  }
}
