////////////////////////////////////////////////////
//
//   Font formats
//
////////////////////////////////////////////////////
$font-format-eot:     "eot";
$font-format-woff:    "woff";
$font-format-woff2:   "woff2";
$font-format-ttf:     "ttf";
$font-format-svg:     "svg";

$font-formats:        (
                        $font-format-eot,
                        $font-format-woff,
                        $font-format-woff2,
                        $font-format-ttf,
                        $font-format-svg,
                      );
