////////////////////////////////////////////////////
//
//   Font Providers
//
////////////////////////////////////////////////////
$font-google:   "Google Fonts";
$font-typekit:  "Adobe Typekit";

$font-providers: (
  $font-google,
  $font-typekit
);
