////////////////////////////////////////////////////
//
//   Grid Operators
//
////////////////////////////////////////////////////
$more: ">";
$more-or-equal: ">=";
$less: "<";
$less-or-equal: "<=";
$equal: '=';

$grid-operators: (
  $more,
  $more-or-equal,
  $less,
  $less-or-equal,
  $equal
);
