////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings';
@use 'commons';

@mixin align-items($name, $init: false) {
  $collection: settings.$boxmodel-align-items;
  $domains: settings.$boxmodels-domains;
  $helpers: ('align-items');

  @include common.salt-helper(display, $collection, $name, $domains, $helpers, $init);
}
