////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings';
@use 'commons';

@mixin display($name, $init: false) {
  $collection: settings.$boxmodels-display;
  $domains: (d: display);
  $helpers: ('display');

  @include commons.salt-helper(display, $collection, $name, $domains, $helpers, $init);
}
