////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////
@use '../settings';
@use 'commons';

@mixin height($name, $direction: h, $init: false) {
  $collection: settings.$boxmodels-sizes;
  $domains: settings.$boxmodels-heights;
  $helpers: (height);

  @include commons.salt-helper(height, $collection, $name, $domains, $helpers, $init);
}
