////////////////////////////////////////////////////
//
//   Grid Operators
//
////////////////////////////////////////////////////

$more: ">";
$more-or-equal: ">=";
$less: "<";
$less-or-equal: "<=";
$equal: '=';

// order matters or < will be found before <=
$grid-operators: (
  $more-or-equal,
  $more,
  $less-or-equal,
  $less,
  $equal
);
