body.-debug {
  &::after {
    @include b-fixed;
    @include p(xs);

    border: 1px solid $grey200;

    @include bg(grey100);

    content: "::" attr(class);
    @include b(0);
    @include l(0);
    @extend .maxw-50;
    overflow: hidden;
    @include font-size(b400);
    @include color(grey500);

    @include media(">xxl") {
      content: ">xxl ::" attr(class);
    }
    @include media("=xxl") {
      content: "xxl ::" attr(class);
    }
    @include media("=xl") {
      content: "xl ::" attr(class);
    }
    @include media("=l") {
      content: "l ::" attr(class);
    }
    @include media("=m") {
      content: "m::" attr(class);
    }
    @include media("=s") {
      content: "s ::" attr(class);
    }
    @include media("=xs") {
      content: "xs ::" attr(class);
    }
    @include media("=xxs") {
      content: "xxs ::" attr(class);
    }
    @include media("<xxs") {
      content: "<xxs ::" attr(class);
    }
  }
}
