////////////////////////////////////////////////////////////////////////////////
//
// Box Models
//
////////////////////////////////////////////////////////////////////////////////

$boxmodels-enabled: true !default;

$boxmodels-domains: (
  align-items: 'b',
  display: 'b',
  flex: 'b',
  height: 'b',
  margin: 'b',
  padding: 'b',
  position: 'b',
  width: 'b',
  z-index: 'b'
) !default;

$boxmodels-sizes: (
  xxxxl: 5rem,
  xxxl: 3.375rem,
  xxl: 2rem,
  xl: 1.5rem,
  l: 1.25rem,
  m: 1rem,
  s: .75rem,
  xs: .5rem,
  xxs: .25rem,
  xxxs: .125rem
) !default;

$boxmodels-radii: (
  none: 0,
  pill: 20rem,
  default: 4px,
  circle: 50%
) !default;

$boxmodels-zindex: (
  deep: -9999,
  default: 1,
  masked: 100,
  mask: 200,
  sticky: 300,
  header: 400,
  toast: 500,
  dropdown: 600,
  overlay: 700,
  spinner: 800,
  modal: 900,
  popup: 950
) !default;

$boxmodels-display: (
// display-outside
  block: block,
  inline: inline,
  run-in: run-in,

// display-inside
  flow: flow,
  flow-root: flow-root,
  table: table,
  flex: flex,
  grid: grid,
  ruby: ruby,

// display-outside && display-inside
  block-flow: block flow,
  flex-run-in: flex run-in,

// display-listitem
  list-item: list-item,
  list-item-block: list-item block,
  list-item-inline: list-item inline,
  list-item-flow: list-item flow,
  list-item-flow-root: list-item flow-root,
  list-item-block-flow: list-item block flow,
  list-item-block-flow-root: list-item block flow-root,
  list-item-flow-block: flow list-item block,

// display-internal
  table-row-group: table-row-group,
  table-header-group: table-header-group,
  table-footer-group: table-footer-group,
  table-row: table-row,
  table-cell: table-cell,
  table-column-group: table-column-group,
  table-column: table-column,
  table-caption: table-caption,
  ruby-base: ruby-base,
  ruby-text: ruby-text,
  ruby-base-container: ruby-base-container,
  ruby-text-container: ruby-text-container,

// display-box
  contents: contents,
  none: none,
  hidden: none,

// display-legacy
  inline-block: inline-block,
  inline-table: inline-table,
  inline-flex: inline-flex,
  inline-grid: inline-grid,

// globales
  inherit: inherit,
  initial: initial,
  unset: unset
) !default;

////////////////////////////////////////////////////////////////////////////////
//
// Domains
//
////////////////////////////////////////////////////////////////////////////////

$boxmodels-align-items: (
  normal: normal,
  stretch: stretch,
  center: center,
  start: start,
  end: end,
  flex-start: flex-start,
  flex-end: flex-end,
  self-start: self-start,
  self-end: self-end,
  first: first,
  first-baseline: first baseline,
  last-baseline: last baseline,
  safe-center: safe center,
  unsafe-center: unsafe center,
  inherit: inherit,
  initial: initial,
  unset: unset
) !default;

$boxmodels-heights: (
  h: height,
  minh: min-height,
  maxh: max-height
) !default;

$boxmodels-widths: (
  w: width,
  minw: min-width,
  maxw: max-width
) !default;

////////////////////////////////////////////////////
//
//              Breakpoint Definition
//
////////////////////////////////////////////////////
$boxmodels-base: 16px;
$boxmodels-breakpoint-min: "xxs";
$boxmodels-breakpoints: (
  xxl: 1440px / $boxmodels-base * 1rem,
  xl: 1200px / $boxmodels-base * 1rem,
  l: 1024px / $boxmodels-base * 1rem,
  m: 768px / $boxmodels-base * 1rem,
  s: 425px / $boxmodels-base * 1rem,
  xs: 375px / $boxmodels-base * 1rem,
  xxs: 320px / $boxmodels-base * 1rem
) !default;

////////////////////////////////////////////////////
//
//   Media Expressions
//
////////////////////////////////////////////////////

$boxmodels-media: (
  screen: "screen",
  print: "print",
  handheld: "handheld",
  landscape: "(orientation: landscape)",
  portrait: "(orientation: portrait)",
  retina2x: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)",
  retina3x: "(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)"
);

////////////////////////////////////////////////////
//
//   Grid - Unit interval
//   Defines a number to be added or subtracted from each unit when declaring breakpoints with exclusive intervals
//
////////////////////////////////////////////////////

$boxmodels-intervals: (
  px: 1,
  em: .01,
  rem: .01,
  default: 0
) !default;

////////////////////////////////////////////////////
//
//   Grid Operators
//
////////////////////////////////////////////////////

$boxmodels-more: ">";
$boxmodels-less: "<";
$boxmodels-equal: "=";

$boxmodels-more-or-equal: ">=";
$boxmodels-less-or-equal: "<=";

$boxmodels-operators-one: ($boxmodels-more, $boxmodels-less, $boxmodels-equal);
$boxmodels-operators-two: ($boxmodels-more-or-equal, $boxmodels-less-or-equal);
$boxmodels-operators: join($boxmodels-operators-one, $boxmodels-operators-two);
