@use "salt" with(
  $mode: "dsm",

  $helpers: (
    prefix: "%"
  )
);

////////////////////////////////////////////////////////////////////////////////
//
//   Display
//
////////////////////////////////////////////////////////////////////////////////

.display{
  @include salt.display(block);
}

.display-hidden{
  // @include salt.display(hidden);
}
