@use "salt" with(
  $mode: "dsm",

  $helpers: (
    prefix: "%"
  )
);

////////////////////////////////////////////////////////////////////////////////
//
//   Display
//
////////////////////////////////////////////////////////////////////////////////

.align-items{
  // @include salt.align-items(start);
}

.align-items-flex-end{
  // @include salt.align-items(flex-end);
}
