@use "salt" with(
  $mode: "dsm",
  $helpers-prefix: "%"
);

////////////////////////////////////////////////////////////////////////////////
//
//   Height
//
////////////////////////////////////////////////////////////////////////////////

.height{
  functionvalue: salt.size('m');
  @include salt.height(xl);
}
