////////////////////////////////////////////////////////////////////////////////
//
//   LAYOUT // Breakpoint
//
////////////////////////////////////////////////////////////////////////////////
//
//  @see <https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862>
//
$grid-breakpoints: (
  xxs:  320px / $grid-base * 1rem,
  xs:   375px / $grid-base * 1rem,
  s:    425px / $grid-base * 1rem,
  m:    768px / $grid-base * 1rem,
  l:    1024px / $grid-base * 1rem,
  xl:   1200px / $grid-base * 1rem,
  xxl:  1440px / $grid-base * 1rem
) !default;
