////////////////////////////////////////////////////
//
//              Mixin a (animation)
//
////////////////////////////////////////////////////
@mixin animation($name) {
  // easing
  $collection: map-get($animation, easings);
  @if (map-has-key($collection, $name)) {
    @include animation-timing-function($name);
  }

  // durations
  $collection: map-get($animation, durations);
  @if (map-has-key($collection, $name)) {
    @include animation-duration($name);
  }
}

@mixin a($name){
  @include animation($name);
}

////////////////////////////////////////////////////
//
//              Mixin t (transition)
//
////////////////////////////////////////////////////
@mixin transition($name) {
  // easing
  $collection: map-get($animation, easings);
  @if (map-has-key($collection, $name)) {
    @include transition-timing-function($name);
  }

  // durations
  $collection: map-get($animation, durations);
  @if (map-has-key($collection, $name)) {
    @include transition-duration($name);
  }
}

@mixin t($name){
  @include transition($name);
}
