
////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin transition-duration($name, $init: false) {
  @if $g-in-media or $init {
    $value: map-get($a-durations, $name);
    transition-duration: $value;
  } @else {
    $dkey: get-domain-key($a-domains, (transition, duration));
    @extend #{$helper-prefix}#{$dkey}#{$helper-separator}#{$name};
  }
}

@mixin animation-duration($name, $init: false) {
  @if $g-in-media or $init {
    $value: map-get($a-durations, $name);
    animation-duration: $value;
  } @else {
    $dkey: get-domain-key($a-domains, (animation, duration));
    @extend #{$helper-prefix}#{$dkey}#{$helper-separator}#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////


$dkey: get-domain-key($a-domains, (transition, duration));
@each $name, $value in $a-durations {
  #{$helper-prefix}#{$dkey}#{$helper-separator}#{"" + $name} {
    @include transition-duration($name, true);
  }
}

$dkey: get-domain-key($a-domains, (animation, duration));
@each $name, $value in $a-durations {
  #{$helper-prefix}#{$dkey}#{$helper-separator}#{"" + $name} {
    @include animation-duration($name, true);
  }
}
