////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin animation-timing-function($name, $init: false) {
  $collection: map-get($alt-animation, easings);
  $domains: map-get($alt-animation, domains);
  $helpers: (animation, easing);
  @include salt-helper(animation-timing-function, $collection, $name, $domains, $helpers, $init);
}

@mixin transition-timing-function($name, $init: false) {
  $collection: map-get($alt-animation, easings);
  $domains: map-get($alt-animation, domains);
  $helpers: (transition, easing);
  @include salt-helper(transition-timing-function, $collection, $name, $domains, $helpers, $init);
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

$collection: map-get($alt-animation, easings);
$domains: map-get($alt-animation, domains);
$animation-key: get-domain-key($domains, (animation, easing));
$transition-key: get-domain-key($domains, (transition, easing));

@each $name, $value in $collection {
  #{$helper-prefix}#{$animation-key}#{$helper-separator}#{$name} {
    @include animation-timing-function($name, true);
  }

  #{$helper-prefix}#{$transition-key}#{$helper-separator}#{$name} {
    @include transition-timing-function($name, true);
  }
}
