////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin animation-timing-function($name, $init: false) {
  @if $g-in-media or $init {
    $value: map-get($a-easings, $name);
    animation-timing-function: $value;
  } @else {
    @extend #{$helper-prefix}a-#{$name};
  }
}

@mixin transition-timing-function($name, $init: false) {
  @if $g-in-media or $init {
    $value: map-get($a-easings, $name);
    transition-timing-function: $value;
  } @else {
    @extend #{$helper-prefix}t-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $a-easings {
  #{$helper-prefix}a-#{"" + $name} {
    @include animation-timing-function($name, true);
  }
}
@each $name, $value in $a-easings {
  #{$helper-prefix}t-#{"" + $name} {
    @include transition-timing-function($name, true);
  }
}
