////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin align-items($name, $init: false) {
  $collection: map-get($boxmodels, 'display');
  $domains: map-get($boxmodels, domains);
  $helpers: ('display');

  @include salt-helper(display, $collection, $name, $domains, $helpers, $init);
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@if $alt-helpers-enabled(){
  $collection: map-get($boxmodels, 'display');
  $domains: map-get($boxmodels, domains);

  @each $name, $value in $collection {
    #{salt-helper-classname($domains, ('display'), $name)} {
      @include display($name, true);
    }
  }
}
