////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin display($name, $init: false) {
  $collection: map-get($boxmodel, 'display');
  $domains: map-get($boxmodel, domains);
  $helpers: ('box-model', 'display');

  @include salt-helper(display, $collection, $name, $domains, $helpers, $init);
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@if salt-helper-enabled(){
  $collection: map-get($boxmodel, 'display');
  $domains: map-get($boxmodel, domains);

  @each $name, $value in $collection {
    #{salt-helper-classname($domains, ('box-model', 'display'), $name)} {
      @include display($name, true);
    }
  }
}
