//
//
//
//
$salt-palettes: ();
@function palette($name, $colorname)
{
  @return palette-get-color($name, $colorname);
}


//
//   Get the palette by it's name
//
//   @param {String} $name
//
@function palette-get($name)
{
  @if map-has-key($color-palettes, $name)
  {
    @return map-get($color-palettes, $name);
  }

  @return ();
}

//
//   Palette // Get the color in a palette
//
//   @param {String} $palettename
//   @param {String} $colorname
//   @return {Color}
//
@function palette-get-color($palettename, $colorname)
{
  $palette: palette-get($palettename);

  @if map-has-key($palette, $colorname)
  {
    $value: map-get($palette, $colorname);
    @return $value;
  }
  @else
  {
    @error "Error: #{$colorname} is not present in the #{$palettename} palette";
  }

  @return null;
}
