//
//   Typography - Font Style
//
////////////////////////////////////////////////////////////////////////////////
//
//   Global value
//
////////////////////////////////////////////////////////////////////////////////
//
$font-style: null;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
////////////////////////////////////////////////////////////////////////////////
//
$salt-font-style: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'fs',

  //
  //   Property
  //
  property:                'font-style',

  //
  //   Values
  //
  values: (
    normal:                normal,
    italic:                italic,
    oblique:               oblique
  )
) !default;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Commit properties
//   (Re-)generate the property definition based on the dynamic values
//   (settings).
//
//   @return {Map} Return the new property defition.
//
////////////////////////////////////////////////////////////////////////////////
//
@function font-style-commit-properties()
{
  $list: ();
  $values: map-get($salt-font-style, values);

  @each $font in $salt-typography-fonts
  {
    $name: map-get($font, family);
    @if map-has-key($font, name)
    {
      $name: map-get($font, name);
    }

    @each $cvalue, $value in $values
    {
      $key: $name + '-' + $cvalue;
      $list: map-set($list, $key, $value);
    }
  }

  $values: (
    values: map-merge($list, map-get($salt-font-style, values))
  );
  $font-style: map-merge($salt-font-style, $values) !global;

  @return $font-style;
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Helper generator
//   Generate the property helper
//
////////////////////////////////////////////////////////////////////////////////
@mixin font-style-helper-generator()
{
  @if $font-style == null
  {
    $p: call(font-style-commit-properties);
  }
  @include helper-factory-iterator($font-style);
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Mixin
//
//   @param {String} $value
//   @param {String} $breakpoint
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include font-style(transparent);     => font-style: transparent;
//     @include font-style(<palettefont-style>);  => font-style: <palettefont-style>;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/font-style
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin font-style($value, $breakpoint: null)
{
  @if $font-style == null
  {
    $p: call(font-style-commit-properties);
  }
  @include helper-factory-mixin($font-style, $value, $breakpoint);
}
