////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-weights: (
  thin: 100,
  "extra-light": 200,
  light: 300,
  normal: 400,
  medium: 500,
  "semi-bold": 600,
  bold: 700,
  "extra-bold": 800,
  black: 900
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin font-weight($name, $init: false) {
  $value: map-get($f-weights, $name);

  @if $boxmodels-in-breakpoint or $init {
    font-weight: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-weights {
  #{$helper-prefix}f-#{"" + $name} {
    @include font-weight($name, true);
  }
}
