////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-styles: (
  italic: italic,
  oblique: oblique
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin font-style($name, $init: false) {
  $value: map-get($f-styles, $name);

  @if $boxmodels-in-breakpoint or $init {
    font-style: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-styles {
  #{$helper-prefix}f-#{"" + $name} {
    @include font-style($name, true);
  }
}
