////////////////////////////////////////////////////
//
//              Sizes
//
////////////////////////////////////////////////////

$f-root: 16px;

$f-sizes: (
  h100: 1.953rem 2.441rem,
  h200: 1.728rem 1.953rem,
  h300: 1.44rem 1.563rem,
  h400: 1.2rem 1.25rem,
  h500: 1rem,
  b100: 1.2rem 1.25rem,
  b200: 1rem,
  b300: 0.833rem 0.8rem,
  b400: 0.694rem 0.64rem,
  b500: 0.579rem 0.512rem
);

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin font-size($name, $init: false) {
  $size: map-get($f-sizes, $name);

  @if $boxmodels-in-breakpoint or $init {
    @if length($size) > 1 {
      $f-min: nth($size, 1);
      $f-max: nth($size, 2);
      $b-min: map-get($g-breakpoints, "xxs");
      $b-max: map-get($g-breakpoints, "xxl");

      font-size: calc(
        #{$f-min} +
          #{($f-max - $f-min) /
          1rem} *
          (100vw - #{$b-min}) /
          #{($b-max - $b-min) /
          1rem}
      );

      @include media("<=xxs") {
        font-size: nth($size, 1);
      }
      @include media(">xxl") {
        font-size: nth($size, 2);
      }
    } @else {
      font-size: #{$size};
    }
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-sizes {
  #{$helper-prefix}f-#{"" + $name} {
    @include font-size($name, true);
  }
}
