//
//   Typography - Letter Spacing
//
////////////////////////////////////////////////////////////////////////////////
//
//   Global value
//
////////////////////////////////////////////////////////////////////////////////
//
$letter-spacing: null;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
////////////////////////////////////////////////////////////////////////////////
//
$salt-letter-spacing: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'ls',

  //
  //   Property
  //
  property:                'letter-spacing',

  //
  //   Values
  //
  values: (
    normal:                normal
  )
) !default;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Commit properties
//   (Re-)generate the property definition based on the dynamic values
//   (settings).
//
//   @return {Map} Return the new property defition.
//
////////////////////////////////////////////////////////////////////////////////
//
@function letter-spacing-commit-properties()
{
  $values: (
    values: map-merge($typography-letter-spacing, map-get($salt-letter-spacing, values))
  );
  $letter-spacing: map-merge($salt-letter-spacing, $values) !global;

  @return $letter-spacing;
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Helper generator
//   Generate the property helper
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin letter-spacing-helper-generator()
{
  @if $letter-spacing == null
  {
    $p: call(letter-spacing-commit-properties);
  }
  @include helper-factory-iterator($letter-spacing);
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Mixin
//
//   @param {String} $value
//   @param {String} $breakpoint
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include letter-spacing(normal);     => letter-spacing: normal;
//     @include letter-spacing(xxs);        => letter-spacing: <xxs>;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/letter-spacing
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin letter-spacing($value, $breakpoint: null)
{
  @if $letter-spacing == null
  {
    $p: call(letter-spacing-commit-properties);
  }
  @include helper-factory-mixin($letter-spacing, $value, $breakpoint);
}
