////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-transforms: (
  lowercase: lowercase,
  uppercase: uppercase
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin text-transform($name, $init: false) {
  $value: map-get($f-transforms, $name);

  @if $g-in-media or $init {
    text-transform: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-transforms {
  #{$helper-prefix}f-#{"" + $name} {
    @include text-transform($name, true);
  }
}
