////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-aligns: (
  center: center,
  justify: justify,
  left: left,
  right: right
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin text-align($name, $init: false) {
  $value: map-get($f-aligns, $name);

  @if $boxmodels-in-breakpoint or $init {
    text-align: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-aligns {
  #{$helper-prefix}f-#{"" + $name} {
    @include text-align($name, true);
  }
}
