////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-decorations: (
  "no-decoration": none,
  underline: underline,
  overline: overline,
  strikethrough: line-through
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin text-decoration($name, $init: false) {
  $value: map-get($f-decorations, $name);

  @if $boxmodels-in-breakpoint or $init {
    text-decoration: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-decorations {
  #{$helper-prefix}f-#{"" + $name} {
    @include text-decoration($name, true);
  }
}
