//
//   Typography - Text Indent
//
////////////////////////////////////////////////////////////////////////////////
//
//   Global value
//
////////////////////////////////////////////////////////////////////////////////
//
$text-indent: null;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Definition
//
////////////////////////////////////////////////////////////////////////////////
//
$salt-text-indent: (
  //
  //   Responsive ?
  //
  is-responsive:           true,

  //
  //   Domain
  //
  domain:                  'ti',

  //
  //   Property
  //
  property:                'text-indent',

  //
  //   Values
  //
  values: (
  )
) !default;
//
////////////////////////////////////////////////////////////////////////////////
//
//   Commit properties
//   (Re-)generate the property definition based on the dynamic values
//   (settings).
//
//   @return {Map} Return the new property defition.
//
////////////////////////////////////////////////////////////////////////////////
//
@function text-indent-commit-properties()
{
  $values: (
    values: map-merge($typography-text-indent, map-get($salt-text-indent, values))
  );
  $text-indent: map-merge($salt-text-indent, $values) !global;

  @return $text-indent;
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Helper generator
//   Generate the property helper
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin text-indent-helper-generator()
{
  @if $text-indent == null
  {
    $p: call(text-indent-commit-properties);
  }
  @include helper-factory-iterator($text-indent);
}
//
////////////////////////////////////////////////////////////////////////////////
//
//   Mixin
//
//   @param {String} $value
//   @param {String} $breakpoint
//
//   @author Alexandre Masy
//   @version 1.0
//   @group css-mixin
//
//   @example SCSS – Usage
//     @include text-indent(xxs);        => text-indent: <xxs>;
//
//   @see https://developer.mozilla.org/en/docs/Web/CSS/text-indent
//
////////////////////////////////////////////////////////////////////////////////
//
@mixin text-indent($value, $breakpoint: null)
{
  @if $text-indent == null
  {
    $p: call(text-indent-commit-properties);
  }
  @include helper-factory-mixin($salt-text-indent, $value, $breakpoint);
}
