////////////////////////////////////////////////////
//
//              Alignement
//
////////////////////////////////////////////////////

$f-wraps: (
  break-all: break-all,
  break-word: break-word
) !default;

////////////////////////////////////////////////////
//
//              Mixin
//
////////////////////////////////////////////////////

@mixin word-break($name, $init: false) {
  $value: map-get($f-wraps, $name);

  @if $boxmodels-in-breakpoint or $init {
    word-break: $value;
  } @else {
    @extend #{$helper-prefix}f-#{$name};
  }
}

////////////////////////////////////////////////////
//
//              Helper
//
////////////////////////////////////////////////////

@each $name, $value in $f-wraps {
  #{$helper-prefix}f-#{"" + $name} {
    @include word-break($name, true);
  }
}
