//
//  Parse an unit expression to retrieve the breakpoint
//
//  @param {String} $expression  The expression to parse.
//  @return {Number}             The breakpoint value
//
//  @example scss
//     grid-parse-breakpoint('=m') => 48em
//     grid-parse-breakpoint('>m') => 48em
//     grid-parse-breakpoint('<m') => 48em
//
//  @access private
//  @author Alexandre Masy
//

@function grid-parse-breakpoint($expression, $operator)
{
  $value: $expression;

  @if $operator != null
  {
    $index: str-index($expression, $operator);
    $value: str-slice($expression, $index + str-length($operator));
  }

  $ret: null;
  @if map-has-key($g-breakpoints, $value)
  {
    $ret: map-get($g-breakpoints, $value);
  }

  @return $ret;
}
