@use 'sass:map';

@function duration($name) {
  $ret: null;
  $durations: map.get($animation, durations);

  @if map.has-key($durations, $name){
    $ret: map.get($durations, $name);
  }
  @else{
    @warn 'E404 - Durations - No value for the given token: ' + $name;
  }

  @return $ret;
}

@function is-duration($token){
  $durations: map.get($animation, durations);
  @return map.has-key($durations, $token);
}
