////////////////////////////////////////////////////
//
//   Grid Operators
//
////////////////////////////////////////////////////

$more: ">";
$more-or-equal: ">=";
$less: "<";
$less-or-equal: "<=";
$equal: '=';

$grid-operators-one: (
  $more,
  $less,
  $equal
);

$grid-operators-two: (
  $more-or-equal,
  $less-or-equal
);

$grid-operators: join($grid-operators-one, $grid-operators-two);
