////////////////////////////////////////////////////
//
//  Box Model
//
////////////////////////////////////////////////////
$boxmodels: (
  enabled: true,

  domains: (
    display: 'b'
  ),

  lengths: (
    "xxxxl": 5rem,
    "xxxl": 3.375rem,
    "xxl": 2rem,
    "xl": 1.5rem,
    "l": 1.25rem,
    "m": 1rem,
    "s": .75rem,
    "xs": .5rem,
    "xxs": .25rem,
    "xxxs": .125rem
  ),

  align-items: (

  ),

  display: (
  // display-outside
    block: block,
    inline: inline,
    run-in: run-in,

  // display-inside
    flow: flow,
    flow-root: flow-root,
    table: table,
    flex: flex,
    grid: grid,
    ruby: ruby,

  // display-outside && display-inside
    block-flow: block flow,
    flex-run-in: flex run-in,

  // display-listitem
    list-item: list-item,
    list-item-block: list-item block,
    list-item-inline: list-item inline,
    list-item-flow: list-item flow,
    list-item-flow-root: list-item flow-root,
    list-item-block-flow: list-item block flow,
    list-item-block-flow-root: list-item block flow-root,
    list-item-flow-block: flow list-item block,

  // display-internal
    table-row-group: table-row-group,
    table-header-group: table-header-group,
    table-footer-group: table-footer-group,
    table-row: table-row,
    table-cell: table-cell,
    table-column-group: table-column-group,
    table-column: table-column,
    table-caption: table-caption,
    ruby-base: ruby-base,
    ruby-text: ruby-text,
    ruby-base-container: ruby-base-container,
    ruby-text-container: ruby-text-container,

  // display-box
    contents: contents,
    none: none,
    hidden: none,

  // display-legacy
    inline-block: inline-block,
    inline-table: inline-table,
    inline-flex: inline-flex,
    inline-grid: inline-grid,

  // globales
    inherit: inherit,
    initial: initial,
    unset: unset
  ),

  z-index: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,

    default: 1,
    docked: 1000,

    popin: 2000,
    tooltip: 2100,
    dropdown: 2200,

    toolbar: 6000,
    modal: 9000
  )


) !default;
