////////////////////////////////////////////////////
//
//              Grid Definition
//
////////////////////////////////////////////////////

$g-gutter: 1rem;
$g-compensation: calc((#{$g-gutter} * 0.5) * -1);
$g-half-gutter: #{$g-gutter * 0.5};
$g-count: 14;
