////////////////////////////////////////////////////////////////////////////////
//
//   TYPOGRAPHY // Letter-Spacing
//
////////////////////////////////////////////////////////////////////////////////

$font-letter-spacing: (
  xxs:    .05em,
  xs:     .075em,
  s:      .01em,
  m:      .0125em,
  l:      .015em,
  xl:     .0175em,
  xxl:    .02em
) !default;
