////////////////////////////////////////////////////
//
//   CSS Units
//
////////////////////////////////////////////////////

$px:     'px';
$cm:     'cm';
$mm:     'mm';
$pc:     '%';
$ch:     'ch';
$pica:   'pica';
$in:     'in';
$em:     'em';
$rem:    'rem';
$pt:     'pt';
$pc:     'pc';
$ex:     'ex';
$vw:     'vw';
$vh:     'vh';
$vmin:   'vmin';
$vmax:   'vmax';

$units: (
  $px,
  $cm,
  $mm,
  $pc,
  $ch,
  $pica,
  $in,
  $em,
  $rem,
  $pt,
  $pc,
  $ex,
  $vw,
  $vh,
  $vmin,
  $vmax
);
