@include media('>m', '<xl', 'retina2x')
{
  html,
  body
  {
    font-size: 1;
  }
}

html
{
  content: grid-parse('m');
}
html
{
  content: grid-parse('=m');
}
html
{
  content: grid-parse('>m');
}
html
{
  content: grid-parse('<m');
}
