@import "../../src/salt";

//////////////////////////////////////////////////////////////////////////////
//
//   # Typography
//
//////////////////////////////////////////////////////////////////////////////
//
//   ## Typefaces / Google Font
//   Order of the includes matters, and it is: normal, bold, italic, bold+italic.
//

$heading: add-font((
  name: heading,
  family:  "Rubik",
  typefaces: (
    normal default google,
    bold google,
  ),
  sizes: (
    xxs:    (.512rem,  .579rem),
    xs:     (.64rem,   .694rem),
    s:      (.8rem,    .833rem),
    m:      (1rem,     1rem),
    l:      (1.25rem,  1.2rem),
    xl:     (1.563rem, 1.44rem),
    xxl:    (1.953rem, 1.728rem)
  ),
  line-height: (
    xxs:    (1.2rem,   1.2rem),
    xs:     (1.2rem,   1.2rem),
    s:      (1.2rem,   1.2rem),
    m:      (1.3rem,   1.2rem),
    l:      (1.35rem,  1.3rem),
    xl:     (1.4rem,   1.4rem),
    xxl:    (1.45rem,  1.4rem)
  )
));

$b: add-font($heading);
