//
//   Compilation mode
//
$mode: "application" !default; // application | dsm
$helper-prefix: "." !default;
$helper-separator: '-' !default;

////////////////////////////////////////////////////
//
//            Animations
//
////////////////////////////////////////////////////
@import './settings/animation';

////////////////////////////////////////////////////
//
//            Box Models
//
////////////////////////////////////////////////////
@import './settings/boxmodels.display';
