////////////////////////////////////////////////////////////////////////////////
//
//   Global configuration
//
////////////////////////////////////////////////////////////////////////////////

// Output mode
// `application`
// The generated file is considered as the primary application styles file.
// All the helper will be generated, the font will be declared, the body default values, ...
//
// `dsm`
// The style is used to style a component and is part of a global ecosystem.
// The font will not be rendered, only the styles used by the component.
$mode: "application" !default;

// Utility classes separator
// Character used between the parts of the helpers generation
// {domain}<separator>[{property}<separator>]{token}
$separator: '-' !default;

// Enable/Disable the utility classes generation
$utility: true !default;

// Variable
// `scss`
// All the variables are declared in a scss supported format (starting with a dot ".").
//
// `placeholder`
// All the variables are declared in a scss placeholder format (starting with a modulo "%").
//
// `css`
// All the variables are declared as css variable (as part of the bootstrap in the :root).
$variable: scss !default;
