

//
//   Define the style of helper
//   Available values:
//       - `none` – do not generate the helper
//       - `class` – generate a class helper
//       - `placeholder` – generate a placeholder helper (%);
//
$salt-helpers: placeholder !default;

////////////////////////////////////////////////////////////////////////////////
//
//   Typography
//
//       a. Typefaces
//       b. Sizes
//       c. Line-Height
//       d. Icons
//
////////////////////////////////////////////////////////////////////////////////
//
//       a. Typefaces
//
@import "settings/_typography.typeface";

////////////////////////////////////////////////////////////////////////////////
//
//       b. Sizes
//
@import "settings/_typography.fontsize";

////////////////////////////////////////////////////////////////////////////////
//
//       c. line-height
//
@import "settings/_typography.lineheight";

////////////////////////////////////////////////////////////////////////////////
//
//       d. letter-spacing
//
@import "settings/_typography.letterspacing";

////////////////////////////////////////////////////////////////////////////////
//
//       e. text-indent
//
@import "settings/_typography.text-indent";

////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
//
//   Grid
//
//       a. Base
//       b. Breakpoints
//       c. Sizes
//       d. Layout
//
////////////////////////////////////////////////////////////////////////////////
//
//       a. Base
//          It is advised to have the same value for the grid-base and
//          font-size-base
//
$grid-base: $font-size-base;

////////////////////////////////////////////////////////////////////////////////
//
//       b. Breakpoints
//
@import "settings/_layout.breakpoint";

////////////////////////////////////////////////////////////////////////////////
//
//   c. Sizes
//
$grid-sizes: (
  xxs:  .25,
  xs:   .5,
  s:    .75,
  m:    1,
  l:    1.5,
  xl:   2,
  xxl:  4
);

//
//   d. Layout
//
$grid-colums: 12;
// $grid-gutter: nth($grid-sizes, m) * 1em;


////////////////////////////////////////////////////////////////////////////////
//
//   Colors
//
//       a. Palette
//
////////////////////////////////////////////////////////////////////////////////
@import "settings/_color.palettes";
