html,
body {
  @include width(100);
  @include background(blue100);

  @extend .f-body;
  font-size: $f-root;
  @extend .ui-border;
}

html {
  height: 100%;
}

body {
  // min-height: 100%;
}

* {
  @extend .ui-border;
}

::selection {
  @include bg(blue500);
  @include f(white);
}

a {
  @include f(blue500);
  @include text-decoration(no-decoration);

  &:hover,
  &:focus,
  &:active {
    @include text-decoration(underline);
  }
}

abbr[title] {
  font-variant: none;
  text-decoration: none;
  @include ui(help);
}
