html,
body {
  @include width(100);
  @include background(white);

  @extend .f-body;
  font-size: $f-root;
  @extend .ui-border;

  -webkit-overflow-scrolling: touch;
}

html {
  height: 100%;
}

body {
  &.-no-scroll {
    overflow: hidden;
  }
}

* {
  @extend .ui-border;
  @include m(0);
  @include p(0);
}

::selection {
  @include bg(blue500);
  @include f(white);
}

a {
  @include f(blue500);
  @include text-decoration(no-decoration);

  &:hover,
  &:focus,
  &:active {
    @include text-decoration(underline);
  }
}

abbr[title] {
  font-variant: none;
  text-decoration: none;
  @include ui(help);
}
