.layout-level2 {
  $root: ".layout-level2";

  &.main,
  .main {
    margin-top: 4.5rem;
    @include media(">m") {
      margin-top: 5rem;
    }
  }

  ////////////////////////////////////////////////////
  //
  //                   Header
  //
  ////////////////////////////////////////////////////
  #{$root}__header {
    @include b-flex;
    @include b-flex(bottom);
    @include mb(xxl);

    .button {
      @include bg(transparent);

      .button__icon {
        @include f(blue500);
      }
    }
  }

  #{$root}__second {
    @include b-flex(1);
    @include ml(m);
  }
}
