.layout-onboarding {
  height: 100%;

  ////////////////////////////////////////////////////
  //
  //                   Container
  //
  ////////////////////////////////////////////////////

  .main {
    @include b-flex;
    @include b-flex(column);
    min-height: 100%;
    height: 100%;
    @include bg(white);

    & > .o-content {
      & > .o-inner {
        @include pt(m);
        @include pb(xl);
      }
    }
  }

  .o-content {
    @include b-flex(1);
    @include b-flex;
  }

  .o-inner {
    flex-basis: 100%;
    max-width: calc(90rem * 0.56);
    @include bg(white);
    padding-left: calc(
      (100vw - #{$g-count - 1} * #{$g-half-gutter}) / #{$g-count} + #{$g-half-gutter}
    );
    padding-right: calc(
      (100vw - #{$g-count - 1} * #{$g-half-gutter}) / #{$g-count} + #{$g-half-gutter}
    );
    border-right: 1px solid $grey200;

    @include media(">m") {
      flex-basis: 75%;
    }

    @include media(">l") {
      flex-basis: 56%;
    }
  }

  .o-outer {
    @include b-hidden;
    @include b-flex(1);
    @include bg(grey100);
    @include py(m);

    @include media(">m") {
      @include b-block;
    }
  }

  ////////////////////////////////////////////////////
  //
  //                   Form
  //
  ////////////////////////////////////////////////////

  .form__group {
    @include b-flex;
    @include b-flex(column);
    @include mt(m);

    @include media(">m") {
      @include b-flex(row);
    }
  }

  .input + .input,
  .input + .select {
    @include mt(m);

    @include media(">m") {
      @include mt(0);
      @include ml(m);
    }
  }
}
