.layout-settings {
  .main {
    min-height: calc(100vh - 4.5rem);
    @include pt(0);
    overflow-x: hidden;

    @include media(">m") {
      min-height: calc(100vh - 5rem);
    }
  }

  .settings__content {
    @include b-flex;
    @include b-flex(column);
    @include mx(0);

    @include media(">l") {
      @include b-flex(row);
    }
  }

  .settings__first {
    @include b-fixed;
    @include l(0);
    top: 4.5rem;

    width: 15rem;
    @include height(100);

    @include bg(white);
    border-right: 1px solid $grey200;

    .settings__inner {
      padding-left: 1rem;
    }

    @include media(">m") {
      top: 5rem;
    }

    @include media(">l") {
      width: 25rem;

      .settings__inner {
        padding-left: 5rem;
      }
    }
  }

  .settings__second {
    @include mt(xxl);
    @include pb(xxxl);
    @include px(m);
    @include ml(auto);

    width: calc(100% - 15rem);

    @include b-relative;

    .settings__inner {
      max-width: calc(
        #{map-get($g-breakpoints, "xxl")} - 2 * ((
                #{map-get($g-breakpoints, "xxl")} - #{$g-count - 1} * #{$g-gutter}
              ) / #{$g-count} + #{$g-gutter})
      );
      // @include mr(auto);
    }

    @include media(">l") {
      width: calc(100% - 25rem);
    }
  }

  .settings__block {
    .box {
      @include mt(m);
    }

    & + .settings__block {
      @include mt(xxxl);
    }
  }

  ////////////////////////////////////////////////////
  //
  //                  Aside
  //
  ////////////////////////////////////////////////////

  .aside {
    @include b-sticky;
    @include t(0);
    @include height(100);

    @include bg(white);

    @include p(m);

    @include media(">l") {
      @include py(xl);
    }
  }

  .aside__description,
  .aside__cta {
    @include mt(m);
  }

  .aside__title {
    @include f(blue700);
  }

  .aside__track {
    border-top: 1px solid $grey200;
    @include pt(m);
    @include mt(m);
  }

  .aside__progress {
    @include mt(xxl);
  }

  .aside__progresstitle {
    @include f(b200);
    @include f(grey600);
  }

  ////////////////////////////////////////////////////
  //
  //                  Track
  //
  ////////////////////////////////////////////////////

  .track {
  }

  .track__list {
    list-style: none;
    @include m(0);
    @include p(0);

    @include b-relative;

    &::before {
      content: "";

      @include b-block;
      width: 1px;
      height: 100%;
      @include bg(grey200);

      @include b-absolute;
      @include t(0);
      left: 0.25rem;
      @include z(1);
    }
  }

  .track__item {
    @include b-flex;
    @include b-flex(middle);
    @include b-flex(between);
    @include mt(l);

    @include b-relative;
    @include z(2);

    &::before {
      content: "";

      @include b-inblock;
      width: 0.5rem;
      height: 0.5rem;
      @include bg(blue700);
      border-radius: 100%;
    }

    &::after {
      content: $icon-check;

      @include f(icon);
      @include f(blue500);
      opacity: 0.3;
    }

    &.-is-active {
      .track__link {
        @include f(blue700);
        @include f(medium);
      }
    }

    &.-is-complete {
      &::after {
        opacity: 1;
      }
    }
  }

  .track__link {
    @include b-flex(1);
    @include ml(s);

    @include f(b300);
    @include f(grey600);

    &:hover,
    &:focus {
      @include f(blue500);
      text-decoration: none;
    }
  }

  ////////////////////////////////////////////////////
  //
  //                   Form
  //
  ////////////////////////////////////////////////////

  .form__group {
    @include b-flex;
    @include b-flex(column);
    @include mt(m);

    @include media(">m") {
      @include b-flex(row);
    }
  }

  .input + .input,
  .input + .select {
    @include mt(m);

    @include media(">m") {
      @include mt(0);
      @include ml(m);
    }
  }
}
