@use "salt" with(
  $mode: "dsm",

  $helpers: (
    prefix: "%"
  )
);

////////////////////////////////////////////////////////////////////////////////
//
//   Durations
//
////////////////////////////////////////////////////////////////////////////////

.duration-xxs{
  @include salt.transition-duration(xxs);
  @include salt.animation-duration(xxs);
}

.duration-aliases-m{
  @include salt.a(m);
  @include salt.t(m);
}
